{{define "error"}}{{template "header" .}}
 
     <div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card shadow-sm" style="width: {{ .ErrorCardWidth }};">
      <div class="card-body text-center">
{{ if .IsGenericError }}

    {{ if eq .ErrorId 0 }}
        <h2 class="card-title">
          {{ tr "error.notFound.title" }}
        </h2>
        <br>
          {{ tr "error.notFound.text" }}
    {{ end }}
    
    {{ if eq .ErrorId 1 }}
        <h2 class="card-title">
          {{ tr "error.upload.title" }}
        </h2>
        <br>
          {{ tr "error.upload.head" }}
          <i><ul class="list-unstyled mt-2">
            <li>- {{ tr "error.upload.reason1" }}</li>
            <li>- {{ tr "error.upload.reason2" }}</li>
            <li>- {{ tr "error.upload.reason3" }}</li>
          </ul></i>
   {{ end }}
   
   {{ if eq .ErrorId 2 }}
        <h2 class="card-title">
          {{ tr "error.key.title" }}
        </h2>
        <br>
          {{ tr "error.key.text1" }}<br><br>
          {{ tr "error.key.text2" }}
   {{ end }}
   
   {{ if eq .ErrorId 3 }}
       <h2 class="card-title">{{ tr "error.unauthorised.title" }}</h2>
		    <br>
		    <p class="card-text">{{ tr "error.unauthorised.text" }}</p><br><br>
		    <a href="./login?consent=true" class="card-link">{{ tr "error.unauthorised.link" }}</a>
   {{ end }}
    
{{ else }}
   
   {{ if eq .ErrorId 4 }}
		 <h2 class="card-title">{{ tr "error.oidc.title" }} {{.ErrorTitle}}</h2>
				    <br>
				    <p class="card-text"><b>{{ tr "error.oidc.text" }}</b></p>
		{{ if .ErrorOauthMessage }}
				 <p class="text-monospace">{{ .ErrorOauthMessage }}</p>
		{{ end}}
				 <p class="text-monospace">{{ .ErrorMessage }}</p><br>
				    <a href="./login?consent=true" class="card-link">{{ tr "error.oidc.retry" }}</a>
   {{ else }}
   
        <h2 class="card-title">
          {{ .ErrorTitle }}
        </h2>
        <br>
          {{ .ErrorMessage }}
   {{ end }}

{{ end }}



        </p>
      </div>
    </div>
  </div>
</div>
{{ template "pagename" "PublicError"}}
{{ template "customjs" .}}
{{template "footer"}}    
{{end}}
